<html>
<head>
<title>Recent</title>
</head>
<body>

{% if user.is_authenticated %}
    <p>Hi, {{ user.first_name }}. <a href="{% url django.contrib.auth.views.logout_then_login %}">logout</a> </p>
{% else %}
    <p>WHAT? THATS UNPOSSIBLE</p>
{% endif %}

{% if not recent_reads %}
<p>You have not saved any articles yet. Use the bookmarklet you can find 
<a href="/">here</a> to add things to this list.</p>
{% endif %}


<table>
{% for article in recent_reads %}
{% ifchanged article.read_date.date %}
    <tr><td></td></tr>
    <tr><td><strong> {{ article.read_date.date }} </strong></td></tr>
    <tr><td></td></tr>
{% endifchanged %}
    <tr><td>{{ article.author }}</td><td><a href="{{ article.url }}">{{ article.title }}</a></td><td>{{ article.vote }}</td><td><a href="/article/{{ article.id }}/delete">del</a></td></tr>
{% endfor %}
</table>

</body>
</html>

